* {
  padding: 2rem 5rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
}

@media screen and (max-width: 1024px) {
  :root,
  body {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  h1,
  h2,
  p {
    padding: 2rem;
    margin: 0;
  }
}
